/* Parte do Meio */

#meio {
    top: 150px;
    right: 322px;
}

#dia {
    width: 56px;
    height: 29px;
}

#mes {
    width: 83px;
    height: 29px;
}

#ano {
    width: 63px;
    height: 29px;
}

#reg {
    font-size: 18px;
}

#btnCad {
    height: 32px;
    width: 210px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.CadTxt {
    font-size: 36px;
}

/* Rodapé */

footer {
    height: 40px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid buttonface;
}

/* Hovers e Focus */
#btnEntrar:Hover {
    background-color:#e2daa6;
}

#btnCad:Hover {
    background-color:#e2daa6;
}

.txt2:Focus {
    border: thin solid #e2daa6;
    box-shadow: 0 2px 10px #e2daa6;
}

.txt:Focus {
    border: thin solid #e2daa6;
    box-shadow: 0 2px 10px #e2daa6;
}

/* Classes de Fontes */

.FontePatua * {
    font-family: 'Patua One', cursive;
}

.FonteOswald * {
    font-family: 'Oswald', sans-serif;
}

/* Classes de Heranca */

/*Alinha à direita da página*/
.FixoDireita {
    position: absolute;
    right: 20px;
}

/*Alinha à esquerda da página*/
.FixoEsquerda {
    position: absolute;
    left: 20px;
}

/*Arruma os inputs da parte de login*/
.txt {
    border: none;
    height: 30px;
    width: 200px;
    border: thin solid #d2d2d2;
}

/*Arruma os inputs da parte de cadastro*/
.txt2 {
    border: none;
    height: 30px;
    width: 210px;
    border: thin solid #d2d2d2;
}

/*Dá um espaço entre as partes do cadastro*/
.txte {
    margin-top: 8px;
}

/*Mexe no botão 'entrar'*/
.sb {
    border: none;
    width: 70px;
    height: 30px;
    cursor: pointer;
    color: #000;
}

/*Cria uma borda arredondada nos botões*/
.bord {
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

/* tira o sublinhado e a cor de link*/
.noD {
    text-decoration: none;
}

/*muda a cor e a fonte de dentro dos inputs*/
::-webkit-input-placeholder {
   color: #d2d2d2;
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
}

:-moz-placeholder {
   color: #d2d2d2;
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
}

::-moz-placeholder {
   color: #d2d2d2;
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
}

:-ms-input-placeholder {  
   color: #d2d2d2;
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
}

/* Parte das abas */

main {
    position: relative;
    top: 150px;
}

.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 700px;
}

/* Float the list items side by side */
.tab li {
    float: left;
    width: 50%;
}

/* Style the links inside the list items */
.tab li a {
    display: inline-block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    width: 100%;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    width: 700px;
    height: 900px;
}