/* Regras universais do site, todas as páginas implementam */

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
    max-width: 960px;
    border: 0 none;
    background-color: #F2F2F2;
}

body {
    font-size: 62.5%;
}

html {
    overflow-y: scroll;
}

a {
    overflow: hidden;
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

img, picture, video, embed {
   max-width: 100%;
}

.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}
 
.clearfix:after {
   clear: both;
}